* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.game {
  background-color: beige;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.scoreboard p {
  margin-top: 5px;
  font-size: 32px;
}

.turns-container {
  display: flex;
  gap: 10em;
}

.turns-container h2 {
  font-size: 60px;
}

.weapons-container button {
  background-color: transparent;
  cursor: pointer;
}

.weapons-container button:hover {
  background-color: rgba(130, 123, 123, 0.396);
}
